.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}
.carousel{
    display: flex;
    max-height: 500px;
    max-width: 500px;
}
.section-edit{
    display: flex;
    justify-content: space-between;
}
.accordion{
    display: flex;
    flex-direction: column;
    width: 1350px;
    padding-top: 20px;
    max-height: 200px;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: block;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 75px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: rgba(200, 197, 193, 0.4);
}
.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-text li{
    padding-top: 5px;
    font-size: 17px;
    color: black;
}
